#viewContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, 0.5);
    border: 5px;
    border-radius: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.btn-site {
    width: 100px;
}

.form-data {
    max-width: 525px;
    margin: 0 auto;
    border: none;
}

.form-data td, .form-data th {
    border: none;
}

.td-data, .td-label {
    text-align: left;
}

