#viewContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, 0.5);
    border: 5px;
    border-radius: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/*body {
    background: url('../images/home_backdrop.jpg') no-repeat center center fixed;
    background-size: cover;
}*/
